{% extends 'blog/base.html' %}

{% block content %}

    <div class="row">
        <div class="column-75">

            {% for post in postsP %}
                {% if post.image %}

                    <div class="card-blog1">
                        {% if user.is_authenticated %}
                        <div class="post-admin">
                            <div class="post-delete" onclick="deletePost({{ post.pk }})"><i class="fa fa-trash"></i></div>
                            <div class="post-edit" onclick="editPost({{ post.pk }})"><i class="fa fa-edit"></i></div>
                        </div>
                        {% endif %}
                        <a href="{% url 'post' pk=post.pk %}"><img src="{{ post.image.url }}" alt=""></a>
                        <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title|linebreaksbr }}</a></h1>
                        <h5>{{ post.published_date }}</h5>
                        <p>{{ post.text|truncatewords:"50"|linebreaksbr }}</p>
                        <a href="{% url 'post' pk=post.pk %}">Read more</a>
                    </div>

                {% else %}

                    <div class="card-blog1">
                        {% if user.is_authenticated %}
                        <div class="post-admin">
                            <div class="post-delete" onclick="deletePost({{ post.pk }})"><i class="fa fa-trash"></i></div>
                            <div class="post-edit" onclick="editPost({{ post.pk }})"><i class="fa fa-edit"></i></div>
                        </div>
                        {% endif %}
                        <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title|linebreaksbr }}</a></h1>
                        <h5>{{ post.published_date }}</h5>
                        <p>{{ post.text|truncatewords:"50"|linebreaksbr }}</p>
                        <a href="{% url 'post' pk=post.pk %}">Read more</a>
                    </div>

                {% endif %}

                <form id={{ post.pk }}  action="{% url 'deletePost' pk=post.pk %}" method="post">
                    {% csrf_token %}
                </form>

            {% endfor %}

        </div>

        <div class="column-25">

        {% for me in mes %}

          <div class="card-small">
            <h2>About Me</h2>
            <img src="{{ me.image.url }}" alt="Image">
            <p>{{ me.description|linebreaksbr }}</p>
          </div>

        {% endfor %}
        <div class="card-small">

            {% for info in infos %}

                <h3>{{ info.title|linebreaksbr }}</h3>
                <p>{{ info.text|linebreaksbr }}</p>
                <div class="line"></div>

            {% endfor %}
        </div>

        <div class="card-small">
            <h2>Links</h2>

        {% for link in links %}

            <li><a href={{ link.link|linebreaksbr }}>{{ link.link|linebreaksbr }}</a></li>

        {% endfor %}

        </div>

        </div>

     </div>
    <div class="row">
        <div class="pagination">
        <div class="pagination-content">

            <span class="step-links">
                {% if postsP.has_previous %}
                    <a href="?page={{ postsP.previous_page_number }}">Previous</a>
                {% else %}
                    <div class="prv">Previous</div>
                {% endif %}

                <span class="current">
                    {{ postsP.number }} - {{ postsP.paginator.num_pages }}
                </span>

                {% if postsP.has_next %}
                    <a href="?page={{ postsP.next_page_number }}">Next</a>
                {% else %}
                    <div class="nxt">Next</div>
                {% endif %}
            </span>

        </div>
        </div>
    </div>

      <script>
        var $grid = $('.column-75').masonry({
            itemSelector: '.card-blog1',
        });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });

        function deletePost(postPK) {
            if(confirm("Do you really want to delete this post?")) {
                document.getElementById(postPK).submit();
            }
        }

        function editPost(postPK) {
            window.location.href = 'https://gp18.pythonanywhere.com/post/editPost/' + postPK
        }
      </script>

{% endblock %}