{% extends 'blog/base.html' %}

{% block content %}

    <div class="row">
        <div class="column-75">

            {% for post in posts %}

                {% if post.image %}

                    <div class="card-blog1-70">
                        <a href="{% url 'post' pk=post.pk %}"><img src="{{ post.image.url }}" alt=""></a>
                        <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h1>
                        <h5>{{ post.published_date }}</h5>
                        <p>{{ post.text|truncatewords:"50"|linebreaksbr }}</p>
                        <a href="{% url 'post' pk=post.pk %}">Read more</a>
                    </div>

                {% else %}

                    <div class="card-blog1-70">
                        <h1><a href="{% url 'post' pk=post.pk %}">{{ post.title }}</a></h1>
                        <h5>{{ post.published_date }}</h5>
                        <p>{{ post.text|truncatewords:"50"|linebreaksbr }}</p>
                        <a href="{% url 'post' pk=post.pk %}">Read more</a>
                    </div>

                {% endif %}

            {% endfor %}

        </div>

      </div>

{% endblock %}